package pages

import "dqix/web/templ/components/base"

templ IndexPage(isDarkMode bool) {
	@base.Layout("Dragon Quest IX", "", isDarkMode) {
		@indexContent()
	}
}

templ indexContent() {
	<div class="" hx-boost="true">
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae nulla sequi officiis eligendi! Eos iusto error a ratione quisquam eveniet dolore nobis, animi impedit porro hic nulla, unde eum cupiditate?</p>
	</div>
}
