package pages

import "dqix/web/templ/components/base"
import "dqix/internal/types/params"

templ MonsterPage(params params.Monster) {
	@base.Layout(params.LayoutParams) {
		@MonsterContent(params)
	}
}

templ MonsterContentWithSideNav(params params.Monster) {
	@base.MainContentWithSidenav(params.Monster.GetFamilyID()) {
		@MonsterContent(params)
	}
}

templ MonsterContent(params params.Monster) {
	<div hx-boost="true" hx-target="#page-content"><h1>{ params.Monster.Title }</h1></div>
}
