package pages

import "dqix/web/templ/components/base"

templ IndexPage() {
	@base.Layout("Dragon Quest IX") {
		@indexContent()
	}
}

templ indexContent() {
	<div class="" hx-boost="true">
		<p>This is the home page</p>
	</div>
}
